#check {
    width: 25px;
    height: 15px;
    cursor: pointer;
    background: transparent;
    color: black;
    appearance: none;
    border: 1px solid #fff;
    border-radius: 3px;
  }
  #check:checked {
    background: url("../../assets/Assets/check.png") center;
  }
  .react-tel-input .form-control {
    position: relative;
    font-size: 14px;
    letter-spacing: 0.01rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 48px;
    margin-left: 0;
    background: transparent !important;
    color: white;
    border: 1px solid #cacaca ;
    border-radius: 10px !important;
    line-height: 25px;
    height: 35px;
    width: 100% !important;
    outline: none;
  } 
  
  .react-tel-input .flag-dropdown {
    background-color: transparent !important;
    border: none !important;
  }
  .react-tel-input .selected-flag:hover {
    background-color: transparent !important;
    border: none !important;
  }
  .react-tel-input .selected-flag:focus {
    background-color: transparent !important;
    border: none !important;
  }
  .react-tel-input .selected-flag,
  .open {
    background-color: transparent !important;
  }
  .react-tel-input .country-list .country-name {
    color: gray;
  }
  
  input{
    color: #fff ;
    padding-left: 10px;
  }

  #flex1 {
    flex: 1;
  }
  #flex2 {
    flex: 2;
  }

  .phonesearch{
    color: #fff !important;
    border: 1px solid white !important;
    border-radius: 10px;
  }